{% extends 'foodie/base.html' %}
{% load static %}

{% block header %}
    <header class="py-5 mb-3 bg-image-full">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Django Startup</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <h2 class="mb-4">条件からお店を探す <i class="fas fa-utensils my-icon2"></i></h2>
{% endblock content %}
